<h1>Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives: How to create multiple markdown and code cells in a Python notebook.**
<ul>
    <li>List popular languages for Data Science</li>
    <li>List commonly used libraries for Data Science</li>
    <li>List Open Source Data Science tools</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    </ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Pandas</li>
    <li>Numpy</li>
    <li>Scipy</li>
    </ol>

<table style="width:20%">
<tr>
<th>Data Science Tools</th>
</tr>

<tr>
<td>Jupyter Notebooks</td>
</tr>

<tr>
<td>R Studio</td>
</tr>
    
<tr>
<td>TensorFlow</td>
</tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>
<br>
Addition a+b
<br>
Subtraction a-b
<br>
Multiplication a*b

In [2]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

<h2>Author</h2>
<br>Radhika Agarwal